os:
- osx
script:
- rm -rf /usr/local/Homebrew
- travis_wait 60 rvm implode --force
- ./script/boxen --no-fde --stealth --no-pull --debug --profile --login $BOXEN_GITHUB_LOGIN --token $BOXEN_GITHUB_TOKEN || test $? -eq 2
- source /opt/boxen/env.sh
- bundle exec rspec spec
before_install:
- sudo gem install bundler -v '~> 1.13'
env:
  global:
    - HOMEBREW_NO_AUTO_UPDATE=1
    - HOMEBREW_VERBOSE=1
    - secure: HoCPuAgujmw+tdH7qq9bSymtpE8o4gpp1uYRyFin2TB3px2JdOPCPCb754vddmE12zhhKKSy1j0Uj/qeW6tjy9hIhlAjLAGFuT+mNTURqu4nmojCgKO2ApcRWc3yv319XR2vjUDW1qmEyKm7il4q1c/dOFmGbVYeDixjUUfWVII=
